button{
    border-radius: 50px;
    background-color: rgb(185, 249, 222);
    margin-top: 30px;
 width: 100px;
 height: 25px;
   
}
.adminlogin{
    /* border: 1px solid blanchedalmond; */
    height: 250px;
    width: 200px;
    transform: translate(500px);
    padding: 50px;
    margin-top: 50px;
 
}
input{
    margin-top: 20px;
}